<section class="my-12">
  <div
    class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl"
  >
    <div class="w-full mx-auto text-left">
      <div class="relative flex-col items-center m-auto align-middle">
        <div class="items-start gap-12 text-left lg:gap-24 lg:inline-flex">
          <div class="order-first block w-full mt-12 aspect-square lg:mt-0">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
              <div class="grid gap-4">
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="grid gap-4">
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col mt-6 lg:mt-0">
            <div class="max-w-xl">
              <div>
                <p
                  class="text-2xl font-medium tracking-tight text-black sm:text-4xl"
                >
                  À propos de nous
                </p>
              </div>
            </div>
            <div class="mx-auto mt-6 lg:max-w-7xl">
              <ul
                role="list"
                class="grid grid-cols-1 gap-4 list-none lg:grid-cols-1 lg:gap-3"
              >
                <li>
                  <div>
                    <p class="mt-5 text-lg font-medium leading-6 text-black">
                      Des fous de mode
                    </p>
                  </div>
                  <div class="mt-2 text-base text-gray-500">
                    Plus, our platform is constantly evolving to meet the
                    changing needs of the tech industry, ensuring you'll always
                    be ahead. Plus, our platform is constantly evolving to meet
                    the changing needs of the tech industry, ensuring you'll
                    always be ahead.
                  </div>
                </li>

                <li>
                  <div>
                    <p class="mt-5 text-lg font-medium leading-6 text-black">
                      Objectif
                    </p>
                  </div>
                  <div class="mt-2 text-base text-gray-500">
                    Plus, our platform is constantly evolving to meet the
                    changing needs of the tech industry, ensuring you'll always
                    be ahead. Plus, our platform is constantly evolving to meet
                    the changing needs of the tech industry, ensuring you'll
                    always be ahead.
                  </div>
                  <a
                    class="inline-flex flex-row gap-2 items-center my-4 px-4 py-2 border border-black"
                    href="/marque/zara"
                  >
                    <span class="text-black"> En savoir plus </span>
                    <svg
                      class="w-4 h-4 text-black"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 10"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1"
                        d="M1 5h12m0 0L9 1m4 4L9 9"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
