<footer class="bg-black">
  <div
    class="w-full max-w-screen-xl mx-auto py-4 md:py-8 2xl:max-w-7xl px-5 md:px-6 lg:px-8"
  >
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="/" class="flex items-center mb-4 sm:mb-0">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap text-white"
        >
          MES BONS PRIX
        </span>
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-50 sm:mb-0"
      >
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Accueil</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Marques</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Conditions</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Contact</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-50/10 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center"
      >&copy; <%= new Date().getFullYear() %>
      <a href="https://flowbite.com/" class="hover:underline">Mes Bons Prix</a>.
      Développé par
      <a href="https://gederooney.me/" class="hover:underline">Rony gedeon</a>.
      Tous les droits sont réservés.</span
    >
  </div>
</footer>
