<section class="py-8">
  <div class="relative">
    <div
      class="grid lg:grid-cols-4 lg:grid-rows-2 lg:gap-6 gap-3 lg:max-h-[600px]"
    >
      <div class="relative col-span-2 row-span-2">
        <img
          src="https://urban-planet.com/cdn/shop/files/071542632582-07-0_5a01418b-27ae-4b55-9428-9065407d7ca7_1080x1620.jpg?v=1694790111"
          alt=""
          class="inset-0 object-cover object-top w-full max-h-96 lg:max-h-full lg:h-full"
        />
        <div
          class="absolute top-0 bottom-0 left-0 right-0 flex flex-col items-center justify-center gap-3 bg-black/20 hover:bg-black/80"
        >
          <h1 class="text-3xl font-semibold text-gray-300">Mes bons prix</h1>
          <p class="px-6 text-center text-gray-400">
            Nous ramenons tous vos produits en soldes sur le web en un seul
            endroit
          </p>
          <a
            class="flex flex-row items-center gap-2 px-4 py-2 hover:border hover:border-gray-300 group"
            href="/marque"
          >
            <span class="text-gray-300"> Voir toutes les marques </span>
            <svg
              class="w-4 h-4 text-gray-800 transition-all duration-300 dark:text-white group-hover:translate-x-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="relative">
        <img
          src="https://static.zara.net/photos///2023/I/0/1/p/8180/702/505/2/w/1024/8180702505_1_1_1.jpg?ts=1690199035338"
          alt=""
          class="w-full h-full max-h-[300px] object-cover object-top"
        />
        <div
          class="absolute top-0 bottom-0 left-0 right-0 flex flex-col items-center justify-center gap-3 bg-black/20 hover:bg-black/80"
        >
          <h2 class="text-2xl font-semibold text-gray-300">Zara</h2>
          <a
            class="flex flex-row items-center gap-2 px-4 py-2 hover:border hover:border-gray-300"
            href="/marque/zara"
          >
            <span class="text-gray-300"> Voir les produits </span>
            <svg
              class="w-4 h-4 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="relative">
        <img
          src="https://images.asos-media.com/products/asos-design-mix-and-match-square-neck-crop-bikini-top-in-black/203680721-1-black?$n_640w$&wid=513&fit=constrain"
          alt=""
          class="w-full h-full max-h-[300px] object-cover object-top"
        />
        <div
          class="absolute top-0 bottom-0 left-0 right-0 flex flex-col items-center justify-center gap-3 bg-black/20 hover:bg-black/80"
        >
          <h2 class="text-2xl font-semibold text-gray-300">Asos</h2>
          <a
            class="flex flex-row items-center gap-2 px-4 py-2 hover:border hover:border-gray-300"
            href="/marque/asos"
          >
            <span class="text-gray-300"> Voir les produits </span>
            <svg
              class="w-4 h-4 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="relative">
        <img
          src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Ff2%2F58%2Ff258ad6b1124006430746a348c4e1587e1dde1e0.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]"
          alt=""
          class="w-full h-full max-h-[300px] object-cover object-top"
        />
        <div
          class="absolute top-0 bottom-0 left-0 right-0 flex flex-col items-center justify-center gap-3 bg-black/20 hover:bg-black/80"
        >
          <h2 class="text-2xl font-semibold text-gray-300">H&M</h2>
          <a
            class="flex flex-row items-center gap-2 px-4 py-2 hover:border hover:border-gray-300"
            href="/marque/hm"
          >
            <span class="text-gray-300"> Voir les produits </span>
            <svg
              class="w-4 h-4 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="relative">
        <img
          src="https://urban-planet.com/cdn/shop/files/070724470009-06-0_3b06b600-2074-4a12-997d-df0f5218d918_1080x1620.jpg?v=1689864378"
          alt=""
          class="w-full h-full max-h-[300px] object-cover object-top"
        />
        <div
          class="absolute top-0 bottom-0 left-0 right-0 flex flex-col items-center justify-center gap-3 bg-black/20 hover:bg-black/80"
        >
          <h2 class="text-2xl font-semibold text-gray-300">Urban Planet</h2>
          <a
            class="flex flex-row items-center gap-2 px-4 py-2 hover:border hover:border-gray-300"
            href="/marque/urban-planet"
          >
            <span class="text-gray-300"> Voir les produits </span>
            <svg
              class="w-4 h-4 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
