<section>
  <div class="relative isolate overflow-hidden py-16 sm:py-24 lg:py-32">
    <div
      class="absolute top-0 left-0 bottom-0 right-0 bg-news-letter bg-cover bg-center bg-fixed -z-10"
    ></div>
    <div class="bg-black/80 absolute top-0 left-0 bottom-0 right-0 z-0"></div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="relative mx-auto grid max-w-3xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none place-items-center"
      >
        <div class="max-w-2xl">
          <h2
            class="text-3xl font-bold tracking-tight text-white sm:text-4xl text-center"
          >
            Innscrivez vous à notre infolettre
          </h2>
          <p class="mt-4 text-lg leading-8 text-gray-300 text-center">
            Recevez les dernières nouvelles et les meilleures offres de nos
            marques préférées directement dans votre boîte de réception.
          </p>
          <div class="mt-6">
            <form action="" class="flex max-w-lg gap-x-4 mx-auto">
              <label for="email-address" class="sr-only">Email address</label>
              <input
                id="email-address"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white focus:outline-none sm:text-sm sm:leading-6"
                placeholder="Enter your email"
              />
              <button
                type="submit"
                class="flex flex-row items-center gap-2 bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm"
              >
                <span> s'inscrire </span>
                <svg
                  class="w-4 h-4 text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
